{% extends 'base.html' %} {% block title %}Search Redis{% endblock %} {% block header %}Home{% endblock %} {% block
app_content %}
    <header class="App-header rounded-top-4 fw-semibold">Welcome to Search Redis</header>
    <div class="container">
        <div class="row mb-3 justify-content-center">
            <div class="col-4">
                <a href="/search">Search</a>
            </div>
        </div>
    </div>
{% endblock %} {% block script %}
    <script type="application/javascript"></script>
{% endblock %}

