{% extends 'base.html' %} {% block title %}Store{% endblock %} {% block header %}{% endblock %}
{% block app_content %}
  <div class="container">
    <form
      name="login"
      action="{{ action_url }}"
      method="POST"
      class="shadow-lg p-3 mb-5 bg-body rounded-4 container position-relative"
    >
      <h2 class="m-1 mb-3 h2 fw-semibold text-center">Login</h2>
      {% if error %}
        <div class="row mb-3 justify-content-center">
          <div class="col-4">
            <span class="text-center">{{ error }}</span>
          </div>
        </div>
      {% endif %}
      <div class="row mb-3 justify-content-center">
        <div class="col-4">
          <label for="userid" class="row-form-label">Email:</label>
          <input type="text" class="form-control" placeholder="Email" name="email" id="email"/>
        </div>
      </div>
      <div class="mt-2 d-flex justify-content-center">
        <input type="submit" class="btn btn-success" value="Ok"/>
        <input type="button" class="btn" value="Cancel" onclick="location.href='/'"/>
      </div>
    </form>
  </div>
{% endblock %} {% block script %}
  <script type="application/javascript"></script>
{% endblock %}
